body {
    background-color: #FFEEAD;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

@mixin buttonStyle($bgcolor, $color) {
    background-color: $bgcolor;
    color: $color;
    border: 2px solid #FFEEAD;
    border-radius: 20px;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#tiles {
    margin-top: 2vh;
    margin-bottom: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    div {
        @include buttonStyle(#88D8B0, black);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.header {
    background-color: #FFCC5C;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: end;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    button {
        @include buttonStyle( #FF6F69, black);
    }
    #hidden {
        margin-right: auto;
        visibility: hidden;
    }
    span {
        padding: 5px;
        color: black;
        width: auto;
        font-weight: bold;
        font-size: 25px;
    }
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 18px;
    line-height: 1.2em;
    #delete {
        @include buttonStyle( #FF6F69, black);
        padding: 5px 11px;
    }
    #edit {
        @include buttonStyle( #88D8B0, black);
        padding: 5px 11px;
    }
    thead {
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        td {
            padding-bottom: .5em;
        }
        tbody {
            td {
                padding: .5em;
            }
        }
    }
}

tr:nth-child(even) {
    background-color: #FFCC5C;
}

.editPage {
    #submit {
        @include buttonStyle( #88D8B0, black);
    }
    #clear {
        @include buttonStyle( #FF6F69, black);
    }
    span {
        font-weight: bold;
        font-size: 20px;
        color: #FF6F69;
    }
    .FormError {
        font-weight: bold;
    }
    .ReactForm {
        margin-top: 50px;
        margin: 0 auto;
        .FormInput {
            margin-bottom: 10px;
        }
        form {
            width: 60%;
            margin: 0 auto;
            margin-top: 25px;
            input {
                width: 100%;
                background-color: #FFEEAD;
                border: 2px solid #88D8B0;
                border-radius: 5px;
                padding: 10px 22px;
                text-align: left;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }
            .inlinebuttons {
                margin-top: 10px;
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
        }
    }
}