body {
    background-color: #FFEEAD;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#tiles {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    div {
        background-color: #88D8B0;
        color: black;
        border: 2px solid #FFEEAD;
        border-radius: 20px;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.header {
    background-color: #FFCC5C;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: end;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    button {
        background-color: #FF6F69;
        color: black;
        border: 2px solid #FFEEAD;
        border-radius: 20px;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
    #hidden {
        margin-right: auto;
        visibility: hidden;
    }
    span {
        padding: 5px;
        color: black;
        width: auto;
        font-weight: bold;
        font-size: 25px;
    }
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 18px;
    line-height: 1.2em;
    span:nth-child(even) {
        background-color: #FF6F69;
        color: black;
        border: 2px solid #FFEEAD;
        border-radius: 20px;
        padding: 5px 11px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
    span:nth-child(odd) {
        background-color: #88D8B0;
        color: black;
        border: 2px solid #FFEEAD;
        border-radius: 20px;
        padding: 5px 11px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
    thead {
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        td {
            padding-bottom: .5em;
        }
        tbody {
            td {
                padding: .5em;
            }
        }
    }
}

tr:nth-child(even) {
    background-color: #FFCC5C;
}